@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  @apply antialiased;
}


:root {
  --text-xs: 0.75rem;
  --text-sm: 0.875rem;
  --text-base: 1rem;
  --text-lg: 1.125rem;
  --text-xl: 1.25rem;
  --text-2xl: 1.5rem;
  --text-3xl: 1.875rem;
  --text-4xl: 2.25rem;
}

.section {
  padding-top: 6rem;
  padding-bottom: 6rem;
}

.section-tight {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

/* Make images responsive by default */
img {
  max-width: 100%;
  height: auto;
}
